@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@keyframes slideDown{
    from{top: -10%;opacity:0} 
    to{top:0;opacity:1}
}
@keyframes slideUp{
    from{bottom: -10%; opacity:0} 
    to{bottom: 0;opacity:1}
}
@keyframes fix{
  from {margin-top: 0;}
  to {margin-top: 80px;}
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   button {
    background: none;
    border: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
   }
   .main {
    padding-top: 77.305px;
    }

   #navbar {
    display: flex;
    position: fixed;
    top: -10%;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #532c00cc;
    backdrop-filter: blur(2px);
    color: #fff;
    z-index: 100;
    animation: 1s ease normal forwards slideDown;
    animation-delay: 1s;
    opacity: 0;
   }
.nav-links a {
    color: #fff;
   }
   /* LOGO */
.both-logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
.menu li:hover {
    background-color: #532c00;
    border-radius: 5px;
    transition: 0.3s ease;
   }
.menu li {
    padding: 5px 14px;
    transition: 0.3s ease;
}

.power {
    height:2rem; /* Replace with the height your footer should be */
    width: 16em; /* Don't change */
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    border: 1px solid #532c00;
    border-radius: 10px 10px 0 0;
    margin: 0 10%;
    background-color: #532c00cc;
    backdrop-filter: blur(2px);
    color: #fff;
    animation: 1s ease normal backwards slideUp;
    animation-delay: 1s;
}   

.powered_contents {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    height:24px; /* Replace with the height your footer should be */
    width: inherit; /* Visible width of footer */
    margin:auto;
    font-family: 'Montserrat', sans-serif;
}

.powered {
    display: block;
    filter: drop-shadow(0px 0px 2px #0000);
    transition: 0.2s ease-in;
}

.powered:hover {
    filter: drop-shadow(3px 5px 2px #000);
    transition: 0.2s ease-out
}

footer {
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}

.breaker {
    height: 100%;
    width: 2px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(230,230,230,0.5) 25%, rgba(230,230,230,1) 50%, rgba(230,230,230,0.5) 75%, rgba(0,0,0,0) 100%);
}

.right {
    display: flex;
    flex-direction: column;
    width: 18vh;
}

.right > a {
    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.right > a:hover {
    background: #5e482e;
    color: #fff;
}

.right > a:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
   }
   

      /* Page CSS */

.header-image {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
.header-image > img {
    width: 100%;
    position: absolute;
}
.header-image > h1 {
    position: absolute;
    font-family: 'Nexa Bold';
    font-size: 42px;
    font-size: 5vw;
    color: #fff;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.5;
}

.portion1 > .background {
    background-image: url('https://m.media-amazon.com/images/I/71uyE-7b9rL._AC_SL1000_.jpg');
}

.portion3 > .background {
    background-image: url('https://media.istockphoto.com/photos/mobile-phone-on-the-table-picture-id1286966978?b=1&k=20&m=1286966978&s=170667a&w=0&h=nKfctxvIjRTrgpasmsI1QP0TLZV62VxJXK9GIk28LEA=');
}

.portion4 > .background {
    background-image: url('https://www.fundingcircle.com/us/resources/wp-content/uploads/2019/12/photo-1449198063792-7d754d6f3c80-1.jpg');
}

.section > p {
    width: 55vw;
    text-indent: 40px;
    font-size: 18px; /* Fallback */
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px 0px;
    color: #fff;
}

.section > p > em {
    color: #b0b0b0;
}

.section > p:last-child {
    margin-bottom: 10vh;
}

.section > h2 {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 36px;
    font-size: 4vw;
    color: #fff;
}

.imgsegment {
    width: 70%;
    height: 40vh;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgsegment > img {
    width: 100%;
}